.html {
  padding: 0;
}

body {
  display: flex; 
}

.background {
  display: flex;
  background-image: url("images/cabin.jpg");
  background-size: auto;
}

.cabin {
  max-width: 100px;
  max-height: 100px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.form {
  background-color:blue;
}