.html {
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.background {
  display: flex;
  height: auto;
  width: 30%;
  background-color: blue;
}

.cabin {
  max-width: 100px;
  max-height: 100px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.form {
  background-color: white;
  width: 70%;
  height: auto;
}

ul {
  list-style: none;
}