.html {
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  background-color: grey;
  display: flex;
}

ul {
  list-style: none;
}

.left {
  display: flex;
  height: auto;
  min-width: 30%;
  background-color: blue;
  flex-direction: column;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}

.right {
  background-color: red;
  min-width: 70%;
}

.form {
  background-color: white;
  width: 70%;
  height: auto;
  margin: auto;
}
